encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1v2n5w258clamfr8649svyvnadq854npgzcz9yxesjv7tx5mf5ddsjv706z"
[edit]
    minDuration = 0
    command = "code"
    args = "--wait"
